# File Server Configuration
FILE_SERVER_PORT=3000

# MinIO Configuration
MINIO_BUCKET=minio_bucket_name
MINIO_ENDPOINT=minio_endpoint
MINIO_USE_SSL=TRUE
MINIO_ACCESS_KEY=minio_access_key
MINIO_SECRET_KEY=minio_secret_key
MINIO_NO_PORT=TRUE

# Redis Configuration
REDIS_HOST=redis_host
REDIS_PASSWORD=redis_password

# Sandbox Configuration
# macOS local dev: use COMPOSE_FILE=docker-compose.yaml:docker-compose.mac.yml
KVM_ENABLED=true
KVM_DEVICE_PATH=/dev/kvm
SANDBOX_USE_CGROUPV2=true
SANDBOX_LOG_LEVEL=DEBUG
SANDBOX_MAX_PROCESS_COUNT=100
SANDBOX_RUN_CPU_TIME=10000
SANDBOX_RUN_TIMEOUT=15000
SANDBOX_OUTPUT_MAX_SIZE=65536

# Service Configuration
PYTHON_CONCURRENCY=5
OTHER_CONCURRENCY=15
JOB_WINDOW=1000

# Database Configuration
MONGODB_URI=mongo_uri


# Logging
LOGGING_SERVER_IP=host.docker.internal

# -----------------------------------------------------------------------------
# Stripe: https://shipfa.st/docs/features/payments
# -----------------------------------------------------------------------------
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# -----------------------------------------------------------------------------
# Mailgun: https://shipfa.st/docs/features/emails
# -----------------------------------------------------------------------------
# EMAIL_SERVER=smtp://postmaster@[mail.yourdomain.com]:[copied_password]@smtp.mailgun.org:587 (without the brackets)
EMAIL_SERVER=

# Newsletter
NEWSLETTER_SECRET=somesecretvalue

# api.librechat.ai
LOGGING_ENABLED=true

SANDBOX_ACCESS_TOKEN=
